.catalog {
  margin-top: 6px;
}

.catalog__wrapper {
  min-width: 100%;
}

.catalog__item {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;

  &--panorama {
    margin-top: 0;
  }
}

.catalog__link {
  position: relative;
  display: block;
  margin: 0 auto;

  &--panorama::before {
    position: absolute;
    content: "Панорама дня";
    padding: 5px 20px 7px 19px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    background-color: @pink;
    top: 0;
    left: 50%;
    z-index: 1;
  }
}

.catalog__photo {
  position: relative;
  display: block;

  margin: 0 auto;

  &--panorama {
    width: 100%;
    height: auto;
  }


}

.catalog__info {
  width: 280px;
  margin: 0 auto;
  padding: 18px 10px 19px 17px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  color: @darkgrey;
  background-color: @lightgrey;
}

.catalog__time-ago {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.catalog__post {
  margin: 0;
}

.catalog__like {
  position: relative;
  width: 121px;
  margin: 0;
  margin-top: 12px;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  color: @pink;


  &::before {
    content: url("../img/heart.svg");
    position: absolute;
    top: 0;
    left: 0;

  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .catalog__link {

  }
  .catalog__photo {
    &--panorama {
      min-width: 660px;
    }
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  .catalog__item {
    width: 300px;

    &--panorama .catalog__info {
      width: 620px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 940px;
  }
}
