.contacts {
  padding-top: 48px;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
}


.contacts__text {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: @darkgrey;
}

.contacts__list {
  margin: 0;
  margin-top: 37px;
  padding: 0;
  padding-bottom: 36px;
  list-style: none;
}

.contacts__item {
  p {
    margin: 0;
    text-align: center;
  }

  &-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: @darkgrey;
  }

  &:nth-child(2) {
    margin-top: 17px;
  }

  &:last-child {
    margin-top: 21px;
  }
}


.contacts__name {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-decoration: none;
  color: @pink;

  &:last-child {
    width: 280px;
    margin: 0 auto;
  }
}

// .contacts__map {
//   margin: 0 auto;
// }

.contacts iframe {
  border: none;
  display: block;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 660px;
    margin: 0 auto;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 330px;

    p {
      text-align: center;
    }

    &:last-child {
      width: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__list {
    display: flex;
    flex-wrap: nowrap;
  }

  .contacts__item {
    min-width: 245px;

    &--email {
      order: 3;
    }
  }
}
