.effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .effect {
    display: block;
    min-height: 330px;
  }

  .effect__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 660px;
    margin: 0 auto;
    padding-top: 54px;
  }

  .effect__img {
    margin-left: 20px;
  }

  .effect__info {
    margin-top: 52px;
  }

  .effect__title {
    margin: 0;
  }

  .effect__text {
    width: 310px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 24px;
  }

  .effect__link {
    color: @pink;
    text-decoration: underline;

    &:hover {
      color: @darkgrey;
    }

    &:active {
      color: fade(@darkgrey, 30%);
    }
  }
}

@media (min-width: @desktop-width) {
  .effect {
    background-color: @lightgrey;
    padding-bottom: 67px;
  }

  .effect__wrapper {
    grid-template-columns: 1fr 2fr;
    width: 1200px;
    padding-top: 17px;
    padding-left: 131px;
  }

  // .effect__img {
  // }

  // .effect__info {
  // }
}
