.form__wrapper {
  min-width: 276px;
}

.form__fio {
  padding: 0 22px;
  padding-bottom:44px;
  border: none;

  p {
    margin: 0;
  }
}

.form__achievements {
  padding: 0 22px;
  padding-bottom: 44px;
  border: none;

  p {
    margin: 0;
    padding-bottom: 47px;
  }

  p:last-child {
    padding-bottom: 0;
  }
}

.form__your-contacts {
  padding: 0 22px;
  padding-bottom: 44px;
  border: none;

  p {
    margin: 0;
  }
}

.form__platforms {
  padding: 0 22px;
  padding-bottom: 42px;
  border: none;

  p {
    margin: 0;
    padding-bottom: 38px;
  }

  p:last-child {
    padding-bottom: 0;
  }
}

.form__emotions {
  padding: 0 22px;
  border: none;
}

.form__submit {
  padding: 0 22px;
  border: none;
}

.form__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pink;

  &--nonvisible {
    display: none;
  }

  &--achievements,
  &--platforms,
  &--emotions {
    display: block;
    width: 218px;
    margin: 38px auto;
  }
}

.form__label {
  margin-top: 19px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;

  &--fio,
  &--your-contacts {
    display: inline-block;
    margin-left: 21px;
  }

  &--achievements {
    margin: 0;
    margin-left: 22px;
    vertical-align: top;
    font-size: 18px;
    line-height: 35px;
    text-transform: none;
    color: @darkgrey;
  }

  &--platforms {
    margin: 0;
    margin-left: 31px;
    vertical-align: top;
    font-size: 18px;
    line-height: 37px;
    text-transform: none;
    color: @darkgrey;
  }
}

.form__item {
  margin: 0;
  padding: 14px 0 15px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @darkgrey;
  border: 2px solid #e5e5e5;

  &--fio,
  &--your-contacts {
    width: 100%;
    box-sizing: border-box;
  }

  &--achievements {
    width: 35px;
    height: 35px;
  }

  &--platforms {
    width: 37px;
    height: 37px;
  }

  &--emotions {
    width: 100%;
    box-sizing: border-box;
    padding: 22px 20px;
  }
}

.form__achievements,
.form__platforms {
  background-color: #f2f2f2;
}

.form__button {
  display: block;
  width: 276px;
  height: 59px;
  margin: 0 auto;
  margin-top: 52px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: @green;
  border: 2px solid @green;
  border-radius: 1px;
}

.form__description {
  width: 185px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .form__form {
    display: flex;
    flex-direction: column;
  }

  .form__fio {
    order: 1;
    min-width: 618px;

    p {
      margin-top: 56px;
    }
  }

  .form__platforms {
    order: 2;
  }

  .form__your-contacts {
    order: 3;
  }

  .form__achievements {
    order: 4;
  }

  .form__emotions {
    order: 5;
  }

  .form__submit {
    order: 6;
  }

  .form__legend--nonvisible {
    display: inline;
  }

  .form__label {
    &--fio {
      margin-left: 0;
    }
  }

  .form__item {
    &--fio {
      margin-left: 20px;
    }
  }

}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 100%;
    padding: 0 132px;
  }

  .form__form {
    display: grid;
    grid-template-areas:
      "fio platforms"
      "contacts contacts"
      "achievements achievements"
      "emotions emotions"
      "submit submit";
    grid-template-rows: 1fr 1fr;
    min-width: 936px;
  }

  .form__fio {
    grid-area: fio;
  }

  .form__platforms {
    grid-area: platforms;
  }

  .form__your-contacts {
    grid-area: contacts;
  }

  .form__achievements {
    grid-area: achievements;
  }

  .form__emotions {
    grid-area: emotions;
  }

  .form__submit {
    grid-area: submit;
  }
}
