.form__wrapper {
  min-width: 280px;
  margin: 0 20px;
}

.form__form {
  // width: 100%;
}

.form__fio {
  margin: 0 auto;
  padding: 0;
  padding-bottom:44px;
  // border: none;

  p {
    margin: 0;
  }
}

.form__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pink;

  &--nonvisible {
    display: none;
  }
}

.form__label {
  margin-top: 19px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;

  &--fio {
    display: block;
    margin-left: 21px;
  }

  &--achievements {
    font-size: 18px;
    text-transform: none;
    color: @darkgrey;
  }
}

.form__item {
  // min-width: 100%;
  padding: 14px 0 15px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @darkgrey;
  border: 2px solid #e5e5e5;
}

.form__achievements,
.form__platforms {
  background-color: #f2f2f2;
}

.form__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: @green;
}

.form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .form__form {
    display: flex;
    flex-direction: column;
  }

  .form__fio {
    order: 1;
  }

  .form__platforms {
    order: 2;
  }

  .form__your-contacts {
    order: 3;
  }

  .form__achievements {
    order: 4;
  }

  .form__emotions {
    order: 5;
  }

  .form__submit {
    order: 6;
  }

  .form__legend--nonvisible {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 100%;
    padding: 0 132px;
  }

  .form__form {
    display: grid;
    grid-template-areas:
      "fio platforms"
      "contacts contacts"
      "achievements achievements"
      "emotions emotions"
      "submit submit";
    grid-template-rows: 1fr 1fr;
    min-width: 936px;
  }

  .form__fio {
    grid-area: fio;
  }

  .form__platforms {
    grid-area: platforms;
  }

  .form__your-contacts {
    grid-area: contacts;
  }

  .form__achievements {
    grid-area: achievements;
  }

  .form__emotions {
    grid-area: emotions;
  }

  .form__submit {
    grid-area: submit;
  }
}
