.info__header {
  margin-top: 40px;
  background-color: @white;
}

.info__main {
  background-image: url("../img/background-info-mobile.svg");
  background-repeat: no-repeat;
  background-position: center -10px;
  background-size: 100%;
}

.info__text {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: @darkgrey;

  &:last-child {
    margin-bottom: 0;
  }
}

.info__list {
  margin: 0;
  padding: 0;
  padding-top: 66px;
  padding-bottom: 10px;
  list-style: none;
}

.info__item-photo {
  display: none;
}

.info__term {
  margin-top: 46px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: @black;
}

.info__definition {
  width: 280px;
  margin: 0 auto;
  margin-top: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @darkgrey;
}

.info__item:nth-child(2) .info__term,
.info__item:nth-child(3) .info__term {
  margin-top: 30px;
}

.info__image {
  height: 293px;
  margin-top: 15px;
  text-align: center;
  overflow: hidden;

  &--tablet {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .info__header {
    margin: auto;
    margin-top: 47px;
    padding-bottom: 12px;
  }

  .info__text {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 54px;

    &:first-of-type br {
      display: none;
    }
  }

  .info__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../img/background-info-tablet.svg");
    background-position: center 5px;
  }

  .info__list {
    order: 2;
    padding: 0;
    padding-top: 52px;
  }

  .info__term {
    margin-top: 42px;
    text-align: left;
  }

  .info__definition {
    width: 310px;
    margin-left: 0;
    margin-top: 15px;
    text-align: left;
  }

  .info__image {
    height: 481px;
    margin-top: 23px;
    margin-left: -23px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      margin: 0 auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .info__header {
    width: auto;
    margin: auto;
    margin-top: 63px;
    padding-bottom: 50px;
  }

  .info__text {
    font-size: 50px;
    line-height: 68px;
  }

  .info__main {
    display: block;
    padding-bottom: 59px;
    background-image: url("../img/background-info-desktop.svg");
    background-position: center -5px;
  }

  .info__image {
    display: none;
  }

  .info__list {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    margin-top: 6px;
    padding: 0 54px;
  }

  .info__item {
    width: 300px;
  }

  .info__item-photo {
    position: relative;
    display: block;
    height: 301px;
    overflow: hidden;

    &::after {
      position: absolute;
      bottom: -9px;
      left: 8px;
      right: 0;
      content: "";
      height: 17px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
      opacity: 0.3;
      filter: blur(4px);
    }
  }

  .info__item-photo img {
    display: block;
    margin: 0 auto;
  }

  .info__term {
    width: 234px;
    margin: 0 auto;
    margin-top: 56px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .info__item:nth-child(2) .info__term,
  .info__item:nth-child(3) .info__term {
    margin-top: 56px;
  }

  .info__definition {
    width: 248px;
    margin: 0 auto;
    margin-top: 22px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
