.intro {
  min-width: 320px;
  min-height: 171px;
}

.intro__header {
  min-height: 396px;
  padding-top: 66px;
  background-image: url("../img/backs/back-main-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backs/back-main-mobile@2x.jpg");
  }

  &--main {
    background-color: @sapphire;
  }

  &--inner {
    min-height: 171px;
    background-image: url("../img/backs/back-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backs/back-mobile@2x.jpg");
    }
  }
}

.intro__title {
  width: 230px;
  margin: 0 auto;
  margin-top: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @white;

  &--main {
    width: 280px;
    margin-top: 23px;
    line-height: 29px;
  }

  &--inner {
    margin-top: 29px;
  }
}

.intro__download {
  min-width: 320px;
  padding-bottom: 32px;
  background-color: @sapphire;
  text-align: center;
}

.intro__download-button {
  width: 280px;
  height: 55px;
  margin-top: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: @white;
  background-color: transparent;
  border: 3px solid @white;
  border-radius: 29px;

  &:hover {
    color: @pink;
    background-color: @white;
  }

  &:active {
    color: fade(@pink, 30%);
    background-color: @white;
  }
}

.intro__available-platforms {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 204px;
  height: 56px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 0;
  list-style: none;
}

.intro__available-platform {
  display: block;

  &--apple-logo {
    width: 47px;
    height: 56px;
  }

  &--android-logo {
    width: 43px;
    height: 47px;
  }

  &--microsoft-logo {
    width: 44px;
    height: 41px;
  }

  &--android-logo svg,
  &--microsoft-logo svg {
    margin-top: -3px;
  }
}

.intro__description {
  width: 252px;
  margin: 0 auto;
  padding: 44px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background-color: @white;

  &--form {
    width: 275px;
    padding-bottom: 18px;
  }
}

.intro__description-download {
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @white;
}

.intro__please {
  display: none;
}

@media (min-width: @tablet-width) {
  .intro--main {
    background-image: url("../img/backs/back-main-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: @sapphire;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backs/back-main-tablet@2x.jpg");
    }
  }

  .intro__wrapper--main {
    width: 340px;
  }

  .intro__header {
    min-height: 0;
    padding-top: 203px;
    background-image: none;

    &--main {
      min-width: 300px;
      background-color: transparent;
    }

    &--inner {
      min-height: 330px;
      padding-top: 110px;
      background-image: url("../img/backs/back-tablet.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-color: @white;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/backs/back-tablet@2x.jpg");
      }
    }
  }

  .intro__title {
    width: 620px;
    margin: 0 auto;
    margin-top: 72px;
    padding: 81px 20px 74px 20px;
    font-size: 50px;
    line-height: 68px;

    &--main {
      width: 230px;
      margin: 0 auto;
      padding: 0;
      font-size: 40px;
      line-height: 48px;
    }

    &--inner {
      padding: 0;
      margin-top: 66px;
    }
  }

  .intro__download {
    background: none;
    padding-bottom: 114px;
  }

  .intro__download-button {
    width: 300px;
    margin-top: 30px;
  }

  .intro__available-platforms {
    margin-top: 47px;
  }

  .intro__description {
    width: 563px;
    padding-top: 92px;
    padding-bottom: 71px;
    font-size: 18px;
    line-height: 30px;
  }

  .intro__description-download {
    width: 300px;
    margin-top: 32px;
    font-size: 18px;
    line-height: 24px;
  }

  .intro__please {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .intro--main {
    background-image: url("../img/backs/back-main-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backs/back-main-desktop@2x.jpg");
    }
  }

  .intro__wrapper {
    width: 100%;

    &--main {
      width: 300px;
      margin-left: 120px;
    }
  }

  .intro__header {
    &--main {
      padding-top: 175px;
    }

    &--inner {
      min-height: 284px;
      margin-top: 0;
      background-image: url("../img/backs/back-desktop.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/backs/back-desktop@2x.jpg");
      }
    }
  }

  .intro__title {
    min-width: 748px;
    padding: 74px 226px 88px 226px;
    font-size: 50px;
    line-height: 68px;

    &--main {
      min-width: 300px;
      padding: 0;
      padding-top: 33px;
      padding-left: 11px;
    }
  }

  .intro__download {
    padding-bottom: 124px;
  }

  .intro__download-button {
    margin-top: 37px;
    font-size: 23px;
    line-height: 23px;
  }

  .intro__available-platforms {
    margin-top: 67px;
  }


  .intro__description {
    min-width: 756px;
    padding: 90px 222px 0;
  }

  .intro__description-download {
    margin-top: 52px;
  }
}
