.intro {
  min-width: 320px;
  min-height: 171px;
  background-color: @sapphire;
}

.intro__header {
  min-height: 396px;
  padding-top: 66px;
  background:
    url("../img/phone-mobile.png") center bottom no-repeat,
    url("../img/screen-mobile.png") center 209px no-repeat,
    url("../img/back-mobile.jpg") center bottom no-repeat;
  background-size: 320px 286px, 111px 197px, cover;
}

.intro__title {
  width: 230px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;

  &--main {
    width: 280px;
    margin-top: 23px;
    line-height: 29px;
  }
}

.intro__download {
  min-width: 320px;
  padding-bottom: 33px;
  background-color: #1d2631;
  text-align: center;

  &-button {
    width: 280px;
    height: 55px;
    margin-top: 28px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 29px;

    &:hover {
      color: @pink;
      background-color: #ffffff;
    }

    &:active {
      color: fade(@pink, 30%);
      background-color: #ffffff;
    }
  }
}

.intro__available-platforms {
  width: 204px;
  height: 56px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 0;
  list-style: none;
  outline: 5px solid rgba(0, 0, 255, 0.8);
  outline-offset: -5px;
}

.intro__description {
  min-width: 280px;
  padding: 54px 20px;
  font-size: 14px;
  line-height: 30px;
  background-color: #ffffff;
  text-align: center;

  &-download {
    width: 280px;
    margin: 0 auto;
    margin-top: 23px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .intro {
    background: url("../img/background-tablet.jpg") center bottom no-repeat;
    background-color: @sapphire;
    background-size: cover;
  }

  .intro__wrapper {
    width: 100%;

    &--main {
      width: 300px;
      margin-left: 20px;
    }
  }

  .intro__header {
    min-height: 0;
    padding-top: 102px;
    background-image: none;
  }

  .intro__title {
    width: 620px;
    margin: 0 auto;
    padding: 81px 20px 74px 20px;
    font-size: 50px;
    line-height: 68px;

    &--main {
      width: 230px;
      margin: 0 auto;
      font-size: 40px;
      line-height: 48px;
    }
  }

  .intro__download {
    background: none;
    padding-bottom: 119px;
  }

  .intro__description {
    min-width: 490px;
    margin: 0 auto;
    padding: 100px 85px;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    background: url("../img/background-desktop.jpg") center bottom no-repeat;
    background-size: cover;
  }

  .intro__wrapper {
    width: 100%;

    &--main {
      width: 300px;
      margin-left: 130px;
    }
  }

  .intro__header {
    padding-top: 176px;
  }

  .intro__title {
    min-width: 748px;
    padding: 74px 226px 104px 226px;
    font-size: 50px;
    line-height: 68px;

    &--main {
      min-width: 300px;
      padding: 0;
    }
  }

  .intro__description {
    min-width: 756px;
    padding: 100px 222px 70px 222px;
  }
}
