.intro {
  min-width: 320px;
  min-height: 171px;
}

.intro__header {
  min-height: 396px;
  padding-top: 66px;
  background-image: url("../img/backs/back-main-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backs/back-main-mobile@2x.jpg");
  }

  &--main {
    background-color: @sapphire;
  }

  &--inner {
    min-height: 171px;
    background-image: url("../img/backs/back-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backs/back-mobile@2x.jpg");
    }
  }
}

.intro__title {
  width: 230px;
  margin: 0 auto;
  margin-top: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @white;

  &--main {
    width: 280px;
    margin-top: 23px;
    line-height: 29px;
  }
}

.intro__download {
  min-width: 320px;
  padding-bottom: 33px;
  background-color: @sapphire;
  text-align: center;

  &-button {
    width: 280px;
    height: 55px;
    margin-top: 28px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: @white;
    background-color: transparent;
    border: 3px solid @white;
    border-radius: 29px;

    &:hover {
      color: @pink;
      background-color: @white;
    }

    &:active {
      color: fade(@pink, 30%);
      background-color: @white;
    }
  }
}

.intro__available-platforms {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 204px;
  height: 56px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 0;
  list-style: none;
}

.intro__available-platform {
  display: block;

  &--apple-logo {
    width: 47px;
    height: 56px;
  }

  &--android-logo {
    width: 43px;
    height: 47px;
  }

  &--microsoft-logo {
    width: 44px;
    height: 41px;
  }
}

.intro__description {
  width: 280px;
  margin: 0 auto;
  padding: 46px 20px;
  font-size: 14px;
  line-height: 30px;
  background-color: @white;
  text-align: center;

  &-download {
    margin-top: 23px;
    font-weight: 300;
    line-height: 24px;
    color: @white;
  }
}

.please {
  display: none;
}

@media (min-width: @tablet-width) {
  .intro--main {
    background-image: url("../img/backs/back-main-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: @sapphire;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backs/back-main-tablet@2x.jpg");
    }
  }

  .intro__wrapper--main {
    width: 300px;
    margin-left: 20px;
  }


  .intro__header {
    min-height: 0;
    padding-top: 102px;
    background-image: none;

    &--main {
      background-color: transparent;
    }

    &--inner {
      min-height: 330px;
      background-image: url("../img/backs/back-tablet.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-color: @white;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/backs/back-tablet@2x.jpg");
      }
    }
  }

  .intro__title {
    width: 620px;
    margin: 0 auto;
    margin-top: 72px;
    padding: 81px 20px 74px 20px;
    font-size: 50px;
    line-height: 68px;

    &--main {
      width: 230px;
      margin: 0 auto;
      font-size: 40px;
      line-height: 48px;
    }

    &--inner {
      padding: 0;
    }
  }

  .intro__download {
    background: none;
    padding-bottom: 119px;
  }

  .intro__description {
    width: 490px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 79px;
    font-size: 18px;
  }

  .please {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .intro--main {
    background-image: url("../img/backs/back-main-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backs/back-main-desktop@2x.jpg");
    }
  }

  .intro__wrapper {
    width: 100%;

    &--main {
      width: 300px;
      margin-left: 130px;
    }
  }

  .intro__header {
    padding-top: 176px;

    &--inner {
      min-height: 284px;
      margin-top: 0;
      background-image: url("../img/backs/back-desktop.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/backs/back-desktop@2x.jpg");
      }
    }
  }

  .intro__title {
    min-width: 748px;
    padding: 74px 226px 104px 226px;
    font-size: 50px;
    line-height: 68px;

    &--main {
      min-width: 300px;
      padding: 0;
    }
  }

  .intro__description {
    min-width: 756px;
    padding: 100px 222px 70px 222px;
  }
}
