.main-nav {
  width: 50px;
  min-height: 24px;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  &--closed {
    display: none;
  }

  &--opened {
    width: 100%;
    display: block;
  }
}

.main-nav__wrapper {
  margin: 0 auto;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  background-color: @darkgrey;
  min-width: 320px;
  text-align: center;
  padding: 25px 0;
  border-bottom: 1px solid #000000;
  border-top: 1px solid @lightgrey;
}

.main-nav__link {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    width: 730px;
  }
}
