.page-header {
  position: absolute;
  width: 100%;
  min-height: 66px;
  color: #ffffff;

  &--opened .page-header__wrapper {
    flex-direction: column;
    min-height: 69px;
    background-color: @darkgrey;
  }

  &--opened .page-header__logo {
    border-bottom: 1px solid #000000;
  }
}

.page-header--no-js {
  position: static;
}


.page-header--no-js .page-header__wrapper {
  flex-direction: column;
  height: 69px;
  background-color: @darkgrey;
  border-bottom: 1px solid #000000;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
}

.page-header__logo {
  display: block;
  // width: 74px;
  // height: 23px;
  padding: 20px;
  // padding-left: 20px;

  // svg {
  //   width: 100%;
  //   height: 100%;
  //}
}

.page-header__logo-img {
  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    min-height: 110px;
  }

  .page-header__logo {
    width: 145px;
  }

  .page-header__logo-img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .page-header__toggle {
    width: 23px;
    height: 23px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 110px;
  }

  .page-header__wrapper {
    padding: 0 130px;
  }

  .page-header__logo {
    width: 147px;
  }

  .page-header__logo-img {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .page-header__toggle {
    display: none;
  }
}
