.price {
  width: auto;
  padding-top: 81px;
  padding-bottom: 46px;
  background-color: @white;
  background-image: url("../img/background-price-mobile.svg");
  background-position: center 11px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.price__wrapper {
  width: 1120px;
  margin: 0 auto;
}

.price__table {
  border-collapse: collapse;
  margin-top: 55px;
  margin-left: -534px;
}

.price__tarif {
  width: 273px;
  border: 2px solid @lightgrey;
  background-color: @darkgrey;
  overflow: hidden;


  &--opacity {
    opacity: 0;
    border-color: transparent;
  }
}

.price__hit {
  position: relative;
  min-height: 96px;

  &::before {
    content: "хит";
    position: absolute;
    display: block;
    width: 105px;
    color: @white;
    background-color: @pink;
    font-weight: 300;
    transform: translate(-25px, 15px) rotate(-45deg);
    font-size: 14px;
    line-height: 30px;
  }
}


.price__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.price__value {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.price__option {
  min-height: 59px;
  font-weight: 400;
  padding: 13px 0 9px 20px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  color: @darkgrey;
  background-color: #ffffff;

  &--first-row {
    text-transform: none;
  }

  &--enabled::after {
    content: url("../img/yes.svg");
    float: right;
    margin-top: 4px;
    margin-right: 16px;
  }

  &--disabled::after {
    content: url("../img/no.svg");
    float: right;
    margin-top: 1px;
    margin-right: 18px;
  }
}

.price__toggles {
  width: 56px;
  margin: 0 auto;
  margin-top: 38px;
}

@media (min-width: @tablet-width) {
  .price {
    background-position: center  -38px;
  }

  .price__wrapper {
    width: 100%;
  }

  .price__table {
    width: 616px;
    margin: 22px auto;
    margin-top: 28px;
  }

  .price__tarif {
    width: 153px;
    height: 75px;
    // padding: 0;

    &--hit::before {
      width: 82px;
    }
  }

  .price__option {
    width: 153px;
    min-height: 45px;
    padding: 0;
    padding-left: 13px;

    &-text {
      display: none;
    }

    &--enabled::after {
      display: block;
      float: none;
      text-align: center;
    }

    &--disabled::after {
      display: block;
      float: none;
      text-align: center;
    }
  }
}

@media (min-width: @desktop-width) {
  .price {
    background-size: 100%;
  }

  .price__tarif {
    width: 233px;
    height: 94px;

    &--hit::before {
      width: 105px;
    }
  }

  .price__option {
    width: 233px;
    height: 59px;
  }
}
