.slider__toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider__toggle {
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: fade(@darkgrey, 30%);
  border: 3px solid #ffffff;
  border-radius: 50%;

  &--current {
    box-sizing: content-box;
    background-color: #ffffff;
    border: 3px solid @darkgrey;
  }
}
