.social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  width: 48px;
  height: 48px;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}
