.upload {
  background-color: @lightgrey;
}

.upload__wrapper {
  width: auto;
  margin: 0 auto;
}

.upload__text {
  width: 280px;
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background-color: #ffffff;
  color: @darkgrey;
}

.upload__buttons {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: @pink;
}
