.upload {
  background-color: @lightgrey;
}

.upload__wrapper {
  padding-bottom: 41px;
}

.upload__header {
  background-color: @white;
}

.upload__text {
  width: 280px;
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background-color: #ffffff;
  color: @darkgrey;
}

.upload__photo {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
}

.upload__button {
  display: block;
  width: 280px;
  height: 55px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 30px;

  &--post {
    margin-bottom: 12px;
    color: @pink;
    border: 3px solid @pink;
}

  &--post:hover {
    color: @white;
    background-color: @pink;
  }

  &--post:active {
    color: fade(@white, 30%);
  }

  &--reject {
    color: fade(@darkgrey, 10%);
    border: 3px solid fade(@darkgrey, 10%);
  }

  &--reject:hover {
    color: fade(@darkgrey, 30%);
    border: 3px solid fade(@darkgrey, 30%);
  }

  &--reject:active {
    color: fade(@white, 30%);
    background-color: fade(@darkgrey, 30%);
  }
}
